body{
  background-color: aliceblue;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

html{
  height: 100%;
  overflow: hidden;
}

#container{

  display: grid;
  grid-template-columns: 200px auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#myMenu{
  background-color: yellow;
  border: 2px red solid;
  grid-column: : 1/2;
}

#myIframe{
  background-color: red;
  border: 5px blue outset;
  grid-column:2/3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
